@media (max-width: 1535px) and (min-width: 1140px) {
    .my-subscribe-block::after {
        background-size: auto 100%;
    }
}

@media (max-width: 1140px) and (min-width: 734px) {
    .my-center {
        /*734 : 2 = 367*/
        padding-left: calc(50vw - 367px);
        padding-right: calc(50vw - 367px);
    }
    .my-center2 {
        /*930 : 2 = 465*/
        padding-left: calc(50vw - 465px);
        padding-right: calc(50vw - 465px);
    }
    .my-top-menu {
        padding-left: 32px;
        padding-right: 41px;
    }
    .my-main-menu {
        overflow: scroll;
    }
    .my-brandposter {
        height: 367px;
    }
    .my-slogan {
        margin-top: 138px;
        margin-left: 39px;
    }
    .my-slogan-text {
        font-size: 44px;
    }
    .my-text-small {
        font-size: 24px;
    }
    .my-offer-block {
        margin-bottom: 110px;
        display: grid;
        grid-template: 167px 116px / 1fr 1fr 1fr;
        gap: 19px;
    }
    .my-offer-pic-big {
        height: 167px;
    }
    .my-offer-pic-small {
        height: 116px;
    }
    .my-offer-text-container {
        height: 167px;
    }
    .my-offer-text-container-small {
        height: 116px;
    }
    .my-products-header-text {
        margin-bottom: 74px;
    }
    .my-product-cards {
        display: grid;
        grid-template: 1fr 1fr 1fr/ 1fr 1fr;
        gap: 14px;
    }
    .my-browse-button {
        margin: 32px 0 60px;
    }
    .my-features-block {
        padding-top: 48px;
        padding-bottom: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }
    .my-subscribe-block {
        padding-top: 64px;
        padding-bottom: 219px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }
    .my-subscribe-block::after {
        background-size: auto 100%;
        background-position-x: -300px;
    }
    .my-subscribe-form {
        padding: 0 0;
    }
}